## Since the data is in json format we can use the pandas library to read the json

In [2]:
import pandas as pd
import json

In [3]:
filepath = 'EmoplyeeDetails.txt'

In [4]:
with open(filepath, 'r') as file:
    json_data = file.read()
    data = json.loads(json_data)

In [12]:
data['people']

[{'name': 'John Doe',
  'address': '123 Main St, Cityville, USA',
  'mobile_numbers': ['123-456-7890', '987-654-3210'],
  'date_of_birth': '1990-05-15'},
 {'name': 'Jane Smith',
  'address': '456 Elm St, Townsville, USA',
  'mobile_numbers': ['555-555-5555'],
  'date_of_birth': '1985-10-25'},
 {'name': 'Alice Johnson',
  'address': '789 Oak St, Villagetown, USA',
  'mobile_numbers': ['111-222-3333', '444-555-6666', '777-888-9999'],
  'date_of_birth': '1978-03-12'},
 {'name': 'Bob Brown',
  'address': '987 Pine St, Hamletville, USA',
  'mobile_numbers': [],
  'date_of_birth': '1995-12-03'}]

In [13]:
df = pd.DataFrame(data['people'])
df.rename(columns={'name': 'Name', 'address':'Address',"mobile_numbers":"Mobile Numbers","date_of_birth":"DOB"}, inplace=True)

In [14]:
df

,Name,Address,Mobile Numbers,DOB
0,John Doe,"123 Main St, Cityville, USA","[123-456-7890, 987-654-3210]",1990-05-15
1,Jane Smith,"456 Elm St, Townsville, USA",[555-555-5555],1985-10-25
2,Alice Johnson,"789 Oak St, Villagetown, USA","[111-222-3333, 444-555-6666, 777-888-9999]",1978-03-12
3,Bob Brown,"987 Pine St, Hamletville, USA",[],1995-12-03